<div class="container">
    <h5>Run Options</h5>
    <form [formGroup]="form" autocomplete="off" novalidate (submit)="run()">
        <div class="row mb-3">

            <div class="col-5">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="dryRun" id="dryRun" class="form-check-input" />
                    <label for="dryRun" class="form-check-label">Dry Run</label>
                    <div class="form-text">Run a trial without making any changes on Todoist.com</div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" formControlName="isUpdate" id="isUpdate" class="form-check-input" />
                    <label for="isUpdate" class="form-check-label">Update</label>
                    <div class="form-text">Update tasks with the same name instead of adding a new ones</div>
                </div>
            </div>

            <div class="col-4" [hidden]="hideToken">
                <div class="form-floating">
                    <input type="text" formControlName="token" id="token" class="form-control" placeholder="Todoist API Token"
                    [ngClass]="{'is-invalid': tokenControl?.invalid,'is-valid': tokenControl?.valid}" />
                    <label for="token" [hidden]="hideToken">Todoist API Token</label>
                </div>
            </div>

            <div class="col text-center mt-1">
                <button type="submit" class="btn btn-lg btn-run" [disabled]="form.invalid">
                    <fa-icon [icon]="icon_run"></fa-icon>
                    Run
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-8">
            <td-template-source [source]="renderedTemplate" [file]="file"></td-template-source>
        </div>
        <div class="col">
            <pre [innerText]="output"></pre>
        </div>
    </div>
</div>