<div class="bs-stepper mb-3">
  <div class="bs-stepper-header">
    <ng-container *ngFor="let step of steps$; let last = last; let i = index">
      <div class="step">
        <button type="button" class="step-trigger" (click)="go(i)" [ngClass]="{active: step.active}"
          [disabled]="step.disabled">
          <span class="bs-stepper-circle">{{i+1}}</span>
          <span class="bs-stepper-label">{{step.title}}</span>
        </button>
      </div>
      <div class="line" *ngIf="!last"></div>
    </ng-container>
  </div>
</div>
