<nav class="navbar navbar-expand px-3 mb-3" aria-label="navbar" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">
        <h1><span class="todoist">todoist</span><span class="template">-template</span></h1>
      </a>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item py-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
          <hr class="d-lg-none text-white-50">
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2">
            <a href="https://github.com/jamesbrond/todoist-template" target="_blank" class="help">
                <fa-icon [icon]="icon_help" size="2x"></fa-icon>
            </a>
          </button>
        </li>
      </ul>
    </div>
  </nav>